<div class="container">
  <div class="row">
    <div class="col">
      <h3>Listado de personas</h3>
      <button
        class="btn btn-primary"
        [disabled]="deshabilitar"
        (click)="agregarPersona()"
      >
        Agregar persona
      </button>
      <p>{{ mensaje }}</p>

      <app-persona></app-persona>
      <label for="titulo">Titulo personas</label>main
      <input
        type="text"
        name="titulo"
        id="titulo"
        class="form-control"
        [(ngModel)]="titulo"
      />
      {{ titulo }}
    </div>
  </div>
</div>

<!--  modificar html mediante metodo en ts
(input)="modificarTitulo($event)" -->
