<div class="container">
  <div class="form-floating mb-3">
    <input
      type="number"
      class="form-control mt-4"
      id="numeroUno"
      placeholder="Primer digito"
      [(ngModel)]="numeroUno"
    />
    <label for="numeroUno">Ingrese el primer digito:</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      class="form-control mt-4"
      id="numeroDos"
      placeholder="Segundo digito"
      [(ngModel)]="numeroDos"
    />
    <label for="numeroDos">Ingrese el segundo digito:</label>
  </div>

  <button class="btn btn-primary mt-5" (click)="sumar()">Sumar</button>

  <p class="mt-5 alert alert-success">Resultado: {{ result }}</p>
</div>
